/* desktop navigation */
.mob_nav { display:none;} /* hide mobile */
.mob_trigger { display:inline-block;}  /* hide mobile */
				
.desk_nav { 
	display:block;
	background: $primary-color;
}

ul.desk_menu
{
	display: block;
	position: relative;
	background: none;
	padding: 0;
	margin: 0;
	list-style-type: none;
	z-index: 250;
	zoom: 1;
	li {
		margin: 0;
		padding: 0;
		display: inline-block;
		position: relative;
		height: auto;
		overflow: visible;
		a {
			display: block;
			padding: 5px 10px;
			color: white;
			text-decoration: none;
			font-weight: normal;
			font-size: emCalc(12);
			text-transform: uppercase;
			&:hover {
				color: white;
				background: darken($primary-color, 5%);
			}
			&:active { color: $primary-color; }
		}
	}
}

ul.desk_menu li .desk_submenu_icon {
	display: block;
	position: absolute;
	right: 0px;
	width: 10px;
	text-align: right;
	top: 0px;
	margin: 0;
	padding:5px 0;
}

ul.desk_submenu
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: absolute;
	z-index: 500;
	zoom: 1;
	display: none;
	border:0;
	width: auto;
	white-space: nowrap;
	overflow: visible;
	background: $primary-color;
	box-shadow: 0 10px 10px -10px rgba(black, .3) inset;
	li {
		display: block;
		a {
			display: block;
			padding: 5px 10px;
			color: white;
			background: $primary-color;
			text-decoration: none;
			background: none;
		}
}

ul.desk_subsubmenu
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: absolute;
	z-index: 500;
	zoom: 1;
	display: none;
	border:0;
	width: auto;
	background: #333;
	top:0px;
	border-left:1px solid #fff;
	border-radius:0px 5px 5px 5px;
	box-shadow: 10px 0 10px -10px rgba(black, .3) inset;
	li a {
		display: block;
		padding: 5px 10px;
		color: white;
		background: $primary-color;
		text-decoration: none;
	}
}
}

/* tablet / if needed */
  @media #{$medium} {

}
/* mobile */
  @media #{$small} {
	.desk_nav { display:none;} /* hide desktop */
	.desk_trigger { display:none;} /* hide desktop */

	.mob_trigger 
	{
		display: inline-block;
		width:25px;
		height:25px;
		font-size: emCalc(60);
		text-align: center;
		cursor: pointer;
		color:#aaa;
		font-family: 'entypo';
		line-height: 26px;
		margin-top: 24px;
	}
	.mob_nav
	{
		display:block;
		position: fixed;
		background: #efefef;
		color:#fff;
		/*
		left:-80%;
		width: 80%;
		*/
		padding: 0px;
		margin: auto 0;
		top:0px;
		bottom:0px;
		box-shadow: inset -5px 0px 5px -5px rgba(0,0,0,0.3);
		overflow-x: hidden;
	}
	.mob_nav 
	ul.mob_menu
	{
		padding: 0;
		margin: 0;
		list-style-type: none;
		z-index: 1;
		zoom: 1;
		overflow-x: hidden;
		box-shadow: 0 10px 10px -10px rgba(black, 0.3) inset;
		li {
			margin: 0;
			padding: 0;
			display: block;
			border: 0;
			position: relative;
			background: none;
			a {
				display: block;
				padding: $column-gutter/2;
				color: $secondary-color;
				text-decoration: none;
				font-weight: bold;
				background: none;
				text-transform: uppercase;
				font-weight: 300;
				font-size: emCalc(16);
				&:active { }
			}
		}
	}

	ul.mob_menu li .mob_submenu_icon {
		font-family: 'entypo';
		display: block;
		position: absolute;
		right: 0px;
		width: 50px;
		text-align: center;
		top: 0px;
		margin: 0;
		padding:10px 0;
		font-size: 30px;
		line-height: 1;
	}


	ul.mob_submenu {	
		border-radius: none;
		margin: 0;
		padding: 0;
		list-style-type: none;
		position: relative;
		zoom: 1;
		display: none;
		border:0;
		width: 100%;
		white-space: normal;
		border-radius: none;
		background: darken(#efefef, 5%);
		li a {
			display: block;
			padding: 10px 10px 10px 20px;
			text-shadow:1px 1px 1px rgba(0,0,0,0.15);
			color: #F7F7F7;
			text-decoration: none;
		}
	}

	ul.mob_submenu
	{
		
	}
	ul.mob_subsubmenu {
		background: darken(#efefef, 10%);
	}
	ul.mob_subsubmenu li a {
		display: block;
		padding: 10px 10px 10px 30px;
		text-shadow:1px 1px 1px rgba(0,0,0,0.15);
		color: #F7F7F7;
		text-decoration: none;
	}

}