/*============================================
=            Navigation Variables            =
============================================*/
$desktop-navigation-hight: 45px;
$navigation-width: 100% !default;
$navigation-float: left !default;
$navigation-bg: $brand-primary !default;
$desktop-navigation-padding: em-calc(20) !default;
$navigation-text-color: #fff !default;
$navigation-hover-darkening: 10% !default; // Change effect on line 56
$navigation-hover-color: $navigation-bg !default;
$navigation-font-family: $font-family-base !default;
$navigation-icon-font: "icons" !default;
$navigation-margin-bottom: 0 !default;

$navigation-offcanvas-easing: ease-out !default;
$navigation-offcanvas-timing: 400ms !default;
$navigation-offcanvas-menu-width: 85% !default;


@font-face {
  font-family: 'icons';
  src: url("../fonts/icon-default.eot");
  src: url("../fonts/icon-default.eot?#iefix") format("embedded-opentype"), url("../fonts/icon-default.woff") format("woff"), url("../fonts/icon-default.ttf") format("truetype"), url("../fonts/icon-default.svg#icon-default") format("svg");
  font-weight: normal;
  font-style: normal; }

  .menu {
	display: none;
  }

  nav>.menu {
	display: block;
  }

/*==========================================
=            Desktop Navigation            =
==========================================*/

@mixin desktop-link {
	font-size: 13px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: $navigation-font-family;
	color: $navigation-text-color;
	height: $desktop-navigation-hight;
	padding: 0 $desktop-navigation-padding;
	background: $navigation-bg;
	width: auto;
	text-decoration: block;
	text-align: center;
	line-height: $desktop-navigation-hight;
}

#desktop-nav {

	width: 100%;
	height: $desktop-navigation-hight;
	white-space:nowrap;
	background: $navigation-bg;
	z-index: 1000;
	display: block;
	margin-bottom: $navigation-margin-bottom;
	@media #{$small} {
			display: none;
	}
	a {
			@include desktop-link;
	}
	ul { padding: 0;}
	> ul {
		margin: 0 auto;
		padding: 0;
		float: $navigation-float;
		width: auto;
		 > li {  
				float: left;
				list-style: none;
				position: relative;
				width: auto;
				margin: 0;
				
				a {
						display: block;
						&:hover { 
							background: darken($navigation-hover-color, $navigation-hover-darkening);
						}
				}
				> ul { 
					display: none;
					position: absolute;
					background: $navigation-bg;
					width: auto;
					margin: 0;
					z-index: 1000;

					> li { //Submenu item
						width: auto;
						margin: 0;
						a { text-align: left; }
						&:hover > ul {
								display: block;
						}
						> ul {
							display: none;
							position: absolute;
							left: 100%;
							margin-top: -45px;
							margin-left: 0;
							width: auto;
							> li { //Sub-Submenu
								width: 100%;
								margin: 0;
								a { text-align: left; }
							} 
						}
					}
				}
				&:hover > ul { display: block;}
		 }
	}
}

/*-----  End of Desktop Navigation  ------*/

/*==================================================
=            Dropdown Mobile Navigation            =
==================================================*/



#dropdown-mobile, #off-canvas-mobile {


	padding-top: 0px;
	display: none;
	ul {
		margin: 0;
		padding: 0;
}

	background: darken($navigation-bg,0%);


> ul ul {
	display: none;
}

ul li {
		position: relative;
		margin: 0;
		a {
			background: $navigation-bg;
			position: relative;
			display: block;
			text-decoration: none;
			font-family: $navigation-font-family;
			color: $navigation-text-color;
			text-transform: uppercase;
			font-weight: 700;
			line-height: 45px;
			padding: 0 0 0 20px;
			//border-top: 1px solid lighten($navigation-bg,10%);
			border-bottom: 1px solid darken($navigation-bg,10%);
			&:hover {
					background: darken($navigation-bg, 3%);
			}
		} 
}

// Top-level styles
> ul > li > a {        
		
}

// Second-level styles
> ul > li > ul > li > a {        
		padding: 0 0 0 40px;
		background: darken($navigation-bg, 3%);
		//border-top: 1px solid lighten($navigation-bg,7%);
		border-bottom: 1px solid darken($navigation-bg,13%);
		&:hover {
				background: darken($navigation-bg, 6%);
		}
}

// Third-level styles
> ul > li > ul > li > ul > li > a {        
		padding: 0 0 0 60px;
		background: darken($navigation-bg, 6%);
		//border-top: 1px solid lighten($navigation-bg,4%);
		border-bottom: 1px solid darken($navigation-bg,16%);
		&:hover {
				background: darken($navigation-bg, 9%);
		}
}

// Dropdown icon 
 .icon {
		font-family: "icons";
		position: absolute;
		right: 0px;
		z-index: 10;
		padding: 0 14px;
		font-size: 30px;
}

}
/*-----  End of Dropdown Mobile Navigation  ------*/



/*=============================================
=            Off-Canvas Navigation            =
=============================================*/

@mixin off-canvas-nav-shadow-wrapper {
		box-shadow: rgba(black, 0.50) 0px 0px 10px 0px;
}

@mixin off-canvas-nav-shadow {
		box-shadow: rgba(black, 0.50) -14px 0px 10px -14px inset;
}

.inner-pagewrapper {
	background: $body-bg;
	z-index: 100;
	left: 0%;
	position: relative;
	@include off-canvas-nav-shadow-wrapper;
	@include transition-duration($navigation-offcanvas-timing);
	  @include transition-timing-function($navigation-offcanvas-easing);
	&.unfolded {
		left: $navigation-offcanvas-menu-width;
		position: relative;
		@include transition-duration($navigation-offcanvas-timing);
	  @include transition-timing-function($navigation-offcanvas-easing);
	}
}

.close-off-canvas-menu {
	font-family: "icons";
	color: $navigation-text-color;
	padding: 0 0 0 20px;
	font-size: em-calc(40px);
	display: none;
	border-bottom: 1px solid darken($navigation-bg,10%);
	@media #{$small} {
			display: block;
	}
}

.wrapper {
		background: $navigation-bg;
		overflow: hidden;

}

nav#off-canvas-mobile {
	position: absolute;
	left: $navigation-offcanvas-menu-width*(-1);
	height: 100%;
	top: 0;
	width: $navigation-offcanvas-menu-width;
	background: $navigation-bg;
	display: block;
	z-index: 99999999;
	@include off-canvas-nav-shadow;
	ul li a {
		@include off-canvas-nav-shadow;
	}
}

/*-----  End of Off-Canvas Navigation  ------*/

/*=====================================
=            Toggle Button            =
=====================================*/

a#mobile-nav-toggle, a#off-canvas-nav-toggle {
	display: block;
	right: 0;
	position: absolute;
	text-decoration: none;
	font-family: $navigation-icon-font;
	color: $navigation-text-color;
	background: $brand-primary;
	text-transform: uppercase;
	font-weight: 200;
	line-height: 35px;
	font-size: 30px;
	min-width: 36px;
	margin: 5px;
	border-radius: 5px;
	text-align: center;
	z-index: 9999;
}

a#mobile-nav-toggle, a#mobile-nav-toggle.open, a#mobile-nav-toggle.closed, a#off-canvas-nav-toggle, a#off-canvas-nav-toggle.open, a#off-canvas-nav-toggle.closed { 
	display: none; 
	@media #{$small} {
		display: block;
	}
}

/*-----  End of Toggle Button  ------*/


/*==========================================
=            Headroom animation            =
==========================================*/

// .animated{-webkit-animation-duration:.5s;-moz-animation-duration:.5s;-o-animation-duration:.5s;animation-duration:.5s;-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both}@-webkit-keyframes slideDown{0%{-webkit-transform:translateY(-4em)}100%{-webkit-transform:translateY(0)}}@-moz-keyframes slideDown{0%{-moz-transform:translateY(-4em)}100%{-moz-transform:translateY(0)}}@-o-keyframes slideDown{0%{-o-transform:translateY(-4em)}100%{-o-transform:translateY(0)}}@keyframes slideDown{0%{transform:translateY(-4em)}100%{transform:translateY(0)}}.animated.slideDown{-webkit-animation-name:slideDown;-moz-animation-name:slideDown;-o-animation-name:slideDown;animation-name:slideDown}@-webkit-keyframes slideUp{0%{-webkit-transform:translateY(0)}100%{-webkit-transform:translateY(-4em)}}@-moz-keyframes slideUp{0%{-moz-transform:translateY(0)}100%{-moz-transform:translateY(-4em)}}@-o-keyframes slideUp{0%{-o-transform:translateY(0)}100%{-o-transform:translateY(-4em)}}@keyframes slideUp{0%{transform:translateY(0)}100%{transform:translateY(-4em)}}.animated.slideUp{-webkit-animation-name:slideUp;-moz-animation-name:slideUp;-o-animation-name:slideUp;animation-name:slideUp}

// header {
//     position: fixed;
//     z-index: 1000000;
//     right: 0;
//     left: 0;
//     top: 0;
// }

/*-----  End of Headroom animation  ------*/
