div.pagination {
	display: block;
	padding-left: 0;
	margin: 0;
	border-radius: 0;
	text-align: center;
}

.sticky {
	@extend .well;
}

// Letter spacing on larger heading sizes

h1 { letter-spacing: -0.05em ; }
h2 { letter-spacing: -0.05em ; }
h3 { letter-spacing: -0.04em ; }
h4 { letter-spacing: -0.03em ; }
h5 { letter-spacing: -0.02em ; }
h6 { letter-spacing: -0.01em ; }

img {
	max-width: 100%;
	height: auto;
}

img.alignleft {
	margin-right: $grid-gutter-width/2;
	@extend .pull-left;
}

img.alignright {
	margin-left: $grid-gutter-width/2;
	@extend .pull-right;
}

.aligncenter {
	@extend .center-block;
}

.wp-caption {
	@extend .thumbnail;
	max-width: 100%;
	p:last-child {
		margin-bottom: 0;
	}
}

.glyphicon.fa {top: 0px;}

.input-group > .input-group-btn > .btn {
	padding: 6px 12px 7px 12px;
}

/*=================================================
=            Additional Helper classes            =
=================================================*/

.no-radius {
	border-radius: 0!important;
}

.no-border {
	border-width: 0 !important;
}

/*-----  End of Additional Helper classes  ------*/


.btn {
	@include transition (all .2s ease-in-out);
}

// Custom buttons
.btn-clear-danger {
  @include button-variant($brand-danger, #fff, $brand-danger);
  background: none;
	color: $brand-danger;
  border-width: 2px;
  &:hover {
  	background: $brand-danger;
  	color: #fff;
  }
}

// make things vivible only on mobile menu
.visible-with-collapsed-topbar {
	@media (min-width: $grid-float-breakpoint-max) {
		display: none !important;
	}
}

// make things vivible only on desktop menu
.visible-with-uncollapsed-topbar {
	@media (max-width: $grid-float-breakpoint-max) {
		display: none !important;
	}
}

