.lt-ie9 {

	header
	,nav
	,section
	,article
	,aside
	,footer
	,hgroup { 
		display: block;
	}

	body {
		background-image: url("../images/Artlinco-Logo-segl_bg_small.jpg");
	}

	.hide-for-small {
		display: block !important;
	}
	
	h1.single-title, h1.page-title {
		font-size: 2em;
		font-weight: 600;
		color: #053a43;
		margin:0; padding:0;
	}

	h1.h2 {
		font-size: 1em;
		text-transform: uppercase;
		margin:0; padding:0;
	}

	.wrapper {
		border: 1px solid #e2e6e6;
		border-top:none;
		border-bottom: none;
		.search-wrapper {
			position:absolute;
			right:10px;
			top:0px;
		}
		.searchform {
			& INPUT[type=submit] {
			background-image: url("../images/bits/search-arrow_small.png");
			}
			& INPUT[type=text] {
				width: 200px;
			}
		}
		.linkedin {
			position:absolute;
			right:250px;
			top:0px;
		}
		.cycle-slideshow .large-9 img {
			max-width: 730px !important;
		}
		.hide-for-medium-down {
			display: block !important;
		}
	}
	
	.mob_trigger {
		display:none;
	}
	
	a.readmore2 {
		margin-top:-37px;
		line-height:1;
	}

	.team-info a.readmore2 {
		margin-top:-45px;
		line-height: 1;
	}

	.nyhedsbrev H3 {
		padding-left: 50px;
	}

	/*#menu-footer-menu {
		list-style-type: none;
		li {
			float:left;
			padding-right: 20px;
		}
		li:last-child {
			padding-right: 0;
		}
	}*/
	
	ul.medarbejder-thumbs, ul.foredrag, ul.cases-list, ul.processmodel, div#main ul {
		list-style-type: none;
		padding:0 !important; margin:0 !important;
		li {
			max-width: 50%;
			float: left;
			padding:0 !important; margin:0 !important;
			img {
				max-width: 100%;
				padding: 5px;

			}
		}
		li.case-hover {
			max-width: 33%;
			.case-thumb-overlay {
				background: #333;
			}
		}
	}
	ul.foredrag li img {
		padding:0;
	}
	ul.foredrag li:first-child + li + li {
		clear:both;
	}
	ul.processmodel li {
		max-width: 20%;
		img {
			padding:0;
		}
	}
	div#main { 
		.procesmodel {
		display:none !important;
		}
	}
	section.row div.small-12 {
		display:none !important;
	}
}