/*==========================================
=            Transparent Topbar            =
==========================================*/

// Transparent navbar
// Reset transparent navbar basics
$navbar-transparent-color:                      $gray-light;
$navbar-transparent-mobile-dropdown-bg:         $gray-darker;
$navbar-transparent-mobile-header-bg:           $gray-dark;
// Tansparent navbar links
$navbar-transparent-link-color:                 #fff;
$navbar-transparent-link-hover-color:           $gray-light;
$navbar-transparent-link-hover-bg:              transparent;
$navbar-transparent-link-active-color:          $navbar-transparent-link-hover-color;
$navbar-transparent-link-disabled-color:        #444;
$navbar-transparent-link-disabled-bg:           transparent;

// Tansparent navbar brand label
$navbar-transparent-brand-color:                $navbar-transparent-link-color;
$navbar-transparent-brand-hover-color:          $gray-light;
$navbar-transparent-brand-hover-bg:             transparent;

// Tansparent navbar toggle
$navbar-transparent-toggle-hover-bg:            #333;
$navbar-transparent-toggle-icon-bar-bg:         #fff;
$navbar-transparent-toggle-border-color:        none;
.navbar-transparent {
  background-color: none;
  border-color: none;
  margin-bottom: -50px;
  .navbar-brand {
    color: $navbar-transparent-brand-color;
    @include transition (all 0.2s ease-in-out);
    &:hover,
    &:focus {
      color: $navbar-transparent-brand-hover-color;
      background-color: $navbar-transparent-brand-hover-bg;
    }
  }


  &.navbar-static-top {
    border-width: 0;
    @media (max-width: $grid-float-breakpoint-max){
      border-width: 0;
      .navbar-collapse {
        background: $navbar-transparent-mobile-dropdown-bg;
      }
      .navbar-header {
        background: $navbar-transparent-mobile-header-bg;
      }
    }
  }

  .navbar-text {
    color: $navbar-transparent-color;
  }

  .navbar-nav {
    > li > a {
      color: $navbar-transparent-link-color;
      @include transition (all 0.2s ease-in-out);
      &:hover,
      &:focus {
        color: $navbar-transparent-link-hover-color;
        background-color: $navbar-transparent-link-hover-bg;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-transparent-link-active-color;
        background-color: none;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-transparent-link-disabled-color;
        background-color: $navbar-transparent-link-disabled-bg;
      }
    }
  }

  // Darken the responsive nav toggle
  .navbar-toggle {
    border-color: $navbar-transparent-toggle-border-color;
    &:hover,
    &:focus {
      background-color: $navbar-transparent-toggle-hover-bg;
    }
    .icon-bar {
      background-color: $navbar-transparent-toggle-icon-bar-bg;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border: none;
    box-shadow: none;
  }

  // Dropdowns
  .navbar-nav {
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: none;
        color: $navbar-transparent-link-active-color;
      }
    }

    @media (max-width: $grid-float-breakpoint-max) {
      // Dropdowns get custom display
      .open .dropdown-menu {
        > .dropdown-header {
          border-color: none;
        }
        .divider {
          background-color: none;
        }
        > li > a {
          color: $navbar-transparent-link-color;
          &:hover,
          &:focus {
            color: $navbar-transparent-link-hover-color;
            background-color: $navbar-transparent-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-transparent-link-active-color;
            background-color: none;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-transparent-link-disabled-color;
            background-color: $navbar-transparent-link-disabled-bg;
          }
        }
      }
    }
  }

  .navbar-link {
    color: $navbar-transparent-link-color;
    &:hover {
      color: $navbar-transparent-link-hover-color;
    }
  }
  .navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-radius: 4px;
  }

  @media (min-width: $grid-float-breakpoint-max) {
    .dropdown-menu {
      &:before {
        content: "";
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid white;
        position: absolute;
        top: -7px;
        right: 32px;
      }
    }
  }
}




/*-----  End of Transparent Topbar  ------*/