@mixin font($size, $color ) {
  font-size: $size;
  color: $color;
}

/*==========================================
=            Vertical centering            =
==========================================*/

.v-center{
  &.v-center,
  .v-center {
    display: table;
     width: 100%;
    > div {
      display: table-cell;
      vertical-align: middle;
      margin-top: 0; margin-bottom:0;
      float: none;
    }
    @media (min-width: 768px) {
      &.row {
        &:before,
        &:after {
          display: none;
        }
      }
    }
    @media (max-width: 767px) {
      .box-sizing: border-box;
      padding-left:20px;
      padding-right:20px;
      &.row {

        display: block;
        width: auto;
        &:before,
        &:after {
          display: none;
        }
        > * {
          display: block;
          vertical-align: baseline;
        }
      }
    }
  }  
}

/*-----  End of Vertical centering  ------*/

/*=========================================
=            Background colors            =
=========================================*/

@mixin background( $background-color ) {
  background: $background-color !important;
}

@each $name, $color in  (primary, $brand-primary),
                        (success, $brand-success ),
                        (info, $brand-info ),
                        (warning, $brand-warning ),
                        (danger, $brand-danger ) {
  .bg-#{$name} {
    @include background( $color );
  }
}

/*-----  End of Background colors  ------*/

