$footer-background: $gray-darker;
$footer-padding: $grid-gutter-width;
$footer-color: #fff;


footer.page-footer {
	@include section-wrapper($footer-background, $footer-padding);
	color: $footer-color;
	p {
		margin: 0;
	}
}