.color-swatch {
  width: 100px;
  height: 100px;
  margin: $grid-gutter-width/2;
  @extend .img-circle;
  float: left;
  &.main {
    width: 150px;
    height: 150px;
  }
}

@each $name, $color in  (primary, $brand-primary),
                        (info, $brand-info),
                        (success, $brand-success),
                        (warning, $brand-warning),
                        (danger, $brand-danger) {
  // Brand Primary
  .brand-#{$name} {
    .original {
      background: $color;
    }

    .dark {
      background: shade($color, $dark-modifier);
    }

    .darker {
      background: shade($color, $darker-modifier);
    }

    .light {
      background: tint($color, $light-modifier);
    }
    .lighter {
      background: tint($color, $lighter-modifier);
    }
  }
}
