.owl-carousel {
  margin: -$navbar-margin-bottom 0 0 0;
  padding: 0;
  .image-container {
    background-image    : url(../img/min/test-image-01.jpg) no-repeat center center;
    background-position : center center;
    background-repeat   : no-repeat;
    background-size     : cover;
    height              : 480px;
    color               : #fff;
  }
}

.slider-caption {
  position: absolute;
  bottom: 0;
  padding-bottom: $grid-gutter-width / 2;
  background: rgba($gray-dark, 0.8);
  width: 100%;
}
