.page-head {
  margin-top: $grid-gutter-width;
  margin-bottom: $grid-gutter-width;
  .top-logo {
    font-size: 50px;
    color: $headings-color;
    &:hover {
      text-decoration: none;
    }
  }
}
