.page-head {
  margin-top: $grid-gutter-width;
  margin-bottom: $grid-gutter-width;
  .top-logo {
    font-size: 50px;
    color: #fff;
    &:hover {
      text-decoration: none;
    }
  }
}


.bg-page-head {
  @include section-wrapper($brand-primary, $grid-gutter-width);
  padding-top: $grid-gutter-width+$navbar-height;
  margin-bottom: $grid-gutter-width;
}