
/* line 54, ../sass/vendors/fancybox/helpers/_jquery.fancybox-buttons.scss */
#fancybox-buttons a.btnNext {
  background-position: -33px 0;
  border-right: 1px solid #3e3e3e;
}
/* line 58, ../sass/vendors/fancybox/helpers/_jquery.fancybox-buttons.scss */
#fancybox-buttons a.btnPlay {
  background-position: 0 -30px;
}
/* line 61, ../sass/vendors/fancybox/helpers/_jquery.fancybox-buttons.scss */
#fancybox-buttons a.btnPlayOn {
  background-position: -30px -30px;
}
/* line 64, ../sass/vendors/fancybox/helpers/_jquery.fancybox-buttons.scss */
#fancybox-buttons a.btnToggle {
  background-position: 3px -60px;
  border-left: 1px solid #111;
  border-right: 1px solid #3e3e3e;
  width: 35px;
}
/* line 70, ../sass/vendors/fancybox/helpers/_jquery.fancybox-buttons.scss */
#fancybox-buttons a.btnToggleOn {
  background-position: -27px -60px;
}
/* line 73, ../sass/vendors/fancybox/helpers/_jquery.fancybox-buttons.scss */
#fancybox-buttons a.btnClose {
  border-left: 1px solid #111;
  width: 35px;
  background-position: -56px 0px;
}
/* line 78, ../sass/vendors/fancybox/helpers/_jquery.fancybox-buttons.scss */
#fancybox-buttons a.btnDisabled {
  opacity: 0.4;
  cursor: default;
}

/* line 1, ../sass/vendors/fancybox/helpers/_jquery.fancybox-thumbs.scss */
#fancybox-thumbs {
  position: fixed;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 8050;
}
/* line 7, ../sass/vendors/fancybox/helpers/_jquery.fancybox-thumbs.scss */
#fancybox-thumbs.bottom {
  bottom: 2px;
}
/* line 10, ../sass/vendors/fancybox/helpers/_jquery.fancybox-thumbs.scss */
#fancybox-thumbs.top {
  top: 2px;
}
/* line 13, ../sass/vendors/fancybox/helpers/_jquery.fancybox-thumbs.scss */
#fancybox-thumbs ul {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 18, ../sass/vendors/fancybox/helpers/_jquery.fancybox-thumbs.scss */
#fancybox-thumbs ul li {
  float: left;
  padding: 1px;
  opacity: 0.5;
}
/* line 22, ../sass/vendors/fancybox/helpers/_jquery.fancybox-thumbs.scss */
#fancybox-thumbs ul li.active {
  opacity: 0.75;
  padding: 0;
  border: 1px solid #fff;
}
/* line 27, ../sass/vendors/fancybox/helpers/_jquery.fancybox-thumbs.scss */
#fancybox-thumbs ul li:hover {
  opacity: 1;
}
/* line 30, ../sass/vendors/fancybox/helpers/_jquery.fancybox-thumbs.scss */
#fancybox-thumbs ul li a {
  display: block;
  position: relative;
  overflow: hidden;
  border: 1px solid #222;
  background: #111;
  outline: none;
}
/* line 38, ../sass/vendors/fancybox/helpers/_jquery.fancybox-thumbs.scss */
#fancybox-thumbs ul li img {
  display: block;
  position: relative;
  border: 0;
  padding: 0;
  max-width: none;
}

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
/* line 3, ../sass/vendors/fancybox/_jquery.fancybox.scss */
.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-image {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

/* line 12, ../sass/vendors/fancybox/_jquery.fancybox.scss */
.fancybox-wrap iframe, .fancybox-wrap object {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

/* line 21, ../sass/vendors/fancybox/_jquery.fancybox.scss */
.fancybox-nav {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}
/* line 27, ../sass/vendors/fancybox/_jquery.fancybox.scss */
.fancybox-nav span {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

/* line 36, ../sass/vendors/fancybox/_jquery.fancybox.scss */
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

/* line 44, ../sass/vendors/fancybox/_jquery.fancybox.scss */
.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

/* line 51, ../sass/vendors/fancybox/_jquery.fancybox.scss */
.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  border-radius: 4px;
}

/* line 61, ../sass/vendors/fancybox/_jquery.fancybox.scss */
.fancybox-opened {
  z-index: 8030;
}
/* line 63, ../sass/vendors/fancybox/_jquery.fancybox.scss */
.fancybox-opened .fancybox-skin {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

/* line 70, ../sass/vendors/fancybox/_jquery.fancybox.scss */
.fancybox-outer {
  position: relative;
}

/* line 74, ../sass/vendors/fancybox/_jquery.fancybox.scss */
.fancybox-inner {
  position: relative;
  overflow: hidden;
}

/* line 79, ../sass/vendors/fancybox/_jquery.fancybox.scss */
.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

/* line 83, ../sass/vendors/fancybox/_jquery.fancybox.scss */
.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

/* line 91, ../sass/vendors/fancybox/_jquery.fancybox.scss */
.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 97, ../sass/vendors/fancybox/_jquery.fancybox.scss */
.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

/* line 102, ../sass/vendors/fancybox/_jquery.fancybox.scss */
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url("fancybox_sprite.png");
}

/* line 106, ../sass/vendors/fancybox/_jquery.fancybox.scss */
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}
/* line 116, ../sass/vendors/fancybox/_jquery.fancybox.scss */
#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("fancybox_loading.gif") center center no-repeat;
}

/* line 123, ../sass/vendors/fancybox/_jquery.fancybox.scss */
.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}

/* line 133, ../sass/vendors/fancybox/_jquery.fancybox.scss */
.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("blank.gif");
  /* helps IE */
  -webkit-tap-highlight-color: transparent;
  z-index: 8040;
}

/* line 146, ../sass/vendors/fancybox/_jquery.fancybox.scss */
.fancybox-prev {
  left: 0;
}

/* line 150, ../sass/vendors/fancybox/_jquery.fancybox.scss */
.fancybox-next {
  right: 0;
}

/* line 154, ../sass/vendors/fancybox/_jquery.fancybox.scss */
.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}

/* line 165, ../sass/vendors/fancybox/_jquery.fancybox.scss */
.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}

/* line 170, ../sass/vendors/fancybox/_jquery.fancybox.scss */
.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}

/* line 175, ../sass/vendors/fancybox/_jquery.fancybox.scss */
.fancybox-nav:hover span {
  visibility: visible;
}

/* line 179, ../sass/vendors/fancybox/_jquery.fancybox.scss */
.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

/* Overlay helper */
/* line 191, ../sass/vendors/fancybox/_jquery.fancybox.scss */
.fancybox-lock {
  overflow: hidden !important;
  width: auto;
}
/* line 194, ../sass/vendors/fancybox/_jquery.fancybox.scss */
.fancybox-lock body {
  overflow: hidden !important;
}

/* line 199, ../sass/vendors/fancybox/_jquery.fancybox.scss */
.fancybox-lock-test {
  overflow-y: hidden !important;
}

/* line 203, ../sass/vendors/fancybox/_jquery.fancybox.scss */
.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url("fancybox_overlay.png");
}

/* line 213, ../sass/vendors/fancybox/_jquery.fancybox.scss */
.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

/* line 219, ../sass/vendors/fancybox/_jquery.fancybox.scss */
.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

/* Title helper */
/* line 226, ../sass/vendors/fancybox/_jquery.fancybox.scss */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

/* line 234, ../sass/vendors/fancybox/_jquery.fancybox.scss */
.fancybox-opened .fancybox-title {
  visibility: visible;
}

/* line 238, ../sass/vendors/fancybox/_jquery.fancybox.scss */
.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}
/* line 245, ../sass/vendors/fancybox/_jquery.fancybox.scss */
.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}

/* line 263, ../sass/vendors/fancybox/_jquery.fancybox.scss */
.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

/* line 269, ../sass/vendors/fancybox/_jquery.fancybox.scss */
.fancybox-title-inside-wrap {
  padding-top: 10px;
}

/* line 273, ../sass/vendors/fancybox/_jquery.fancybox.scss */
.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 285, ../sass/vendors/fancybox/_jquery.fancybox.scss */
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url("fancybox_sprite@2x.png");
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/
  }

  /* line 290, ../sass/vendors/fancybox/_jquery.fancybox.scss */
  #fancybox-loading div {
    background-image: url("fancybox_loading@2x.gif");
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
}
/***********  COMPONENTS  ***********/
@font-face {
  font-family: 'inzite';
  src: url("../fonts/inzite/inzite.eot?zec0lt");
  src: url("../fonts/inzite/inzite.eot?#iefixzec0lt") format("embedded-opentype"), url("../fonts/inzite/inzite.woff?zec0lt") format("woff"), url("../fonts/inzite/inzite.ttf?zec0lt") format("truetype"), url("../fonts/inzite/inzite.svg?zec0lt#inzite") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 13, ../sass/components/fonts/_inzite.scss */
[class^="inzite-"], [class*=" inzite-"] {
  font-family: 'inzite';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, ../sass/components/fonts/_inzite.scss */
.inzite-inzite_tagline:before {
  content: "\e632";
}

/* line 30, ../sass/components/fonts/_inzite.scss */
.inzite-toro_tagline:before {
  content: "\e634";
}

/* line 34, ../sass/components/fonts/_inzite.scss */
.inzite-toro:before {
  content: "\e631";
}

/* line 38, ../sass/components/fonts/_inzite.scss */
.inzite-inzite:before {
  content: "\f120";
}

/* line 42, ../sass/components/fonts/_inzite.scss */
.inzite-phone:before {
  content: "\e600";
}

/* line 46, ../sass/components/fonts/_inzite.scss */
.inzite-mobile:before {
  content: "\e601";
}

/* line 50, ../sass/components/fonts/_inzite.scss */
.inzite-mail:before {
  content: "\e602";
}

/* line 54, ../sass/components/fonts/_inzite.scss */
.inzite-paperplane:before {
  content: "\e603";
}

/* line 58, ../sass/components/fonts/_inzite.scss */
.inzite-pencil:before {
  content: "\e604";
}

/* line 62, ../sass/components/fonts/_inzite.scss */
.inzite-location:before {
  content: "\e605";
}

/* line 66, ../sass/components/fonts/_inzite.scss */
.inzite-heart:before {
  content: "\e606";
}

/* line 70, ../sass/components/fonts/_inzite.scss */
.inzite-star:before {
  content: "\e607";
}

/* line 74, ../sass/components/fonts/_inzite.scss */
.inzite-comment:before {
  content: "\e608";
}

/* line 78, ../sass/components/fonts/_inzite.scss */
.inzite-quote:before {
  content: "\e609";
}

/* line 82, ../sass/components/fonts/_inzite.scss */
.inzite-house:before {
  content: "\e60a";
}

/* line 86, ../sass/components/fonts/_inzite.scss */
.inzite-search:before {
  content: "\e60b";
}

/* line 90, ../sass/components/fonts/_inzite.scss */
.inzite-cog:before {
  content: "\e60c";
}

/* line 94, ../sass/components/fonts/_inzite.scss */
.inzite-music:before {
  content: "\e60d";
}

/* line 98, ../sass/components/fonts/_inzite.scss */
.inzite-music2:before {
  content: "\e60e";
}

/* line 102, ../sass/components/fonts/_inzite.scss */
.inzite-key:before {
  content: "\e60f";
}

/* line 106, ../sass/components/fonts/_inzite.scss */
.inzite-earth:before {
  content: "\e610";
}

/* line 110, ../sass/components/fonts/_inzite.scss */
.inzite-code:before {
  content: "\e611";
}

/* line 114, ../sass/components/fonts/_inzite.scss */
.inzite-light-bulb:before {
  content: "\e612";
}

/* line 118, ../sass/components/fonts/_inzite.scss */
.inzite-rss:before {
  content: "\e613";
}

/* line 122, ../sass/components/fonts/_inzite.scss */
.inzite-signal:before {
  content: "\e614";
}

/* line 126, ../sass/components/fonts/_inzite.scss */
.inzite-checkmark:before {
  content: "\e615";
}

/* line 130, ../sass/components/fonts/_inzite.scss */
.inzite-cross:before {
  content: "\e616";
}

/* line 134, ../sass/components/fonts/_inzite.scss */
.inzite-minus:before {
  content: "\e617";
}

/* line 138, ../sass/components/fonts/_inzite.scss */
.inzite-plus:before {
  content: "\e618";
}

/* line 142, ../sass/components/fonts/_inzite.scss */
.inzite-info:before {
  content: "\e619";
}

/* line 146, ../sass/components/fonts/_inzite.scss */
.inzite-question:before {
  content: "\e61a";
}

/* line 150, ../sass/components/fonts/_inzite.scss */
.inzite-play:before {
  content: "\e61b";
}

/* line 154, ../sass/components/fonts/_inzite.scss */
.inzite-pause:before {
  content: "\e61c";
}

/* line 158, ../sass/components/fonts/_inzite.scss */
.inzite-resize-enlarge:before {
  content: "\e61d";
}

/* line 162, ../sass/components/fonts/_inzite.scss */
.inzite-resize-shrink:before {
  content: "\e61e";
}

/* line 166, ../sass/components/fonts/_inzite.scss */
.inzite-arrow-left:before {
  content: "\e61f";
}

/* line 170, ../sass/components/fonts/_inzite.scss */
.inzite-arrow-down:before {
  content: "\e620";
}

/* line 174, ../sass/components/fonts/_inzite.scss */
.inzite-arrow-up:before {
  content: "\e621";
}

/* line 178, ../sass/components/fonts/_inzite.scss */
.inzite-arrow-right:before {
  content: "\e622";
}

/* line 182, ../sass/components/fonts/_inzite.scss */
.inzite-ellipsis:before {
  content: "\e623";
}

/* line 186, ../sass/components/fonts/_inzite.scss */
.inzite-dot:before {
  content: "\e624";
}

/* line 190, ../sass/components/fonts/_inzite.scss */
.inzite-github:before {
  content: "\e625";
}

/* line 194, ../sass/components/fonts/_inzite.scss */
.inzite-vimeo:before {
  content: "\e626";
}

/* line 198, ../sass/components/fonts/_inzite.scss */
.inzite-twitter:before {
  content: "\e627";
}

/* line 202, ../sass/components/fonts/_inzite.scss */
.inzite-facebook:before {
  content: "\e628";
}

/* line 206, ../sass/components/fonts/_inzite.scss */
.inzite-facebook2:before {
  content: "\e629";
}

/* line 210, ../sass/components/fonts/_inzite.scss */
.inzite-googleplus:before {
  content: "\e62a";
}

/* line 214, ../sass/components/fonts/_inzite.scss */
.inzite-tumblr:before {
  content: "\e62b";
}

/* line 218, ../sass/components/fonts/_inzite.scss */
.inzite-linkedin:before {
  content: "\e62c";
}

/* line 222, ../sass/components/fonts/_inzite.scss */
.inzite-dropbox:before {
  content: "\e62d";
}

/* line 226, ../sass/components/fonts/_inzite.scss */
.inzite-skype:before {
  content: "\e62e";
}

/* line 230, ../sass/components/fonts/_inzite.scss */
.inzite-paypal:before {
  content: "\e62f";
}

/* line 234, ../sass/components/fonts/_inzite.scss */
.inzite-soundcloud:before {
  content: "\e630";
}

/* line 1, ../sass/components/_footer_navigation.scss */
.copyright {
  padding: 83px 0;
}
@media (max-width: 768px) {
  /* line 1, ../sass/components/_footer_navigation.scss */
  .copyright {
    padding: 10px 0 30px 0;
  }
}

/* line 9, ../sass/components/_footer_navigation.scss */
.footer-nav-column h4 {
  margin: 0;
  color: #999999;
}
/* line 17, ../sass/components/_footer_navigation.scss */
.footer-nav-column .sub-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 21, ../sass/components/_footer_navigation.scss */
.footer-nav-column .sub-menu li {
  margin: 5px 0;
}
/* line 24, ../sass/components/_footer_navigation.scss */
.footer-nav-column .sub-menu a {
  color: #555555;
  -webkit-transition: color 0.2s ease-in-out;
          transition: color 0.2s ease-in-out;
}
/* line 27, ../sass/components/_footer_navigation.scss */
.footer-nav-column .sub-menu a:hover {
  text-decoration: none;
  color: #999999;
}

/***********  PAGE CONTAINER  ***********/
/* line 6, ../sass/components/_page_wrapper.scss */
#page-wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding: 0;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}
/* line 7, ../sass/components/_page_wrapper.scss */
#page-wrapper .container {
  padding: 0 30px;
}
@media (max-width: 768px) {
  /* line 7, ../sass/components/_page_wrapper.scss */
  #page-wrapper .container {
    padding: 0 15px;
  }
}
/* line 20, /Users/Rasmus/Desktop/toro/wp-content/themes/toro/bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_mixins.scss */
#page-wrapper:before, #page-wrapper:after {
  content: " ";
  display: table;
}
/* line 25, /Users/Rasmus/Desktop/toro/wp-content/themes/toro/bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_mixins.scss */
#page-wrapper:after {
  clear: both;
}
@media (min-width: 768px) {
  /* line 6, ../sass/components/_page_wrapper.scss */
  #page-wrapper {
    width: 750px;
  }
}
@media (min-width: 992px) {
  /* line 6, ../sass/components/_page_wrapper.scss */
  #page-wrapper {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  /* line 6, ../sass/components/_page_wrapper.scss */
  #page-wrapper {
    width: 1170px;
  }
}

/* DATE & CATEGORIES */
/* line 7, ../sass/components/_post_meta.scss */
.post-meta {
  font-weight: 200;
  text-transform: uppercase;
}
/* line 10, ../sass/components/_post_meta.scss */
.post-meta .fa {
  color: #ce2922;
}
/* line 13, ../sass/components/_post_meta.scss */
.post-meta a {
  color: #999999;
}
/* line 15, ../sass/components/_post_meta.scss */
.post-meta a:hover {
  border-bottom: 0.125em dashed #999999;
  text-decoration: none;
}
/* line 20, ../sass/components/_post_meta.scss */
.post-meta .fa-folder-o, .post-meta .fa-pencil-square-o {
  margin-left: 60px;
}

/* TAGS */
/* line 32, ../sass/components/_post_meta.scss */
.tags-container {
  background: white;
  padding: 30px 0;
}
/* line 34, ../sass/components/_post_meta.scss */
.tags-container ul.tags {
  list-style: none;
  padding: 0;
  padding-left: 10px;
}
/* line 38, ../sass/components/_post_meta.scss */
.tags-container ul.tags li {
  float: left;
}
/* line 40, ../sass/components/_post_meta.scss */
.tags-container ul.tags li a {
  position: relative;
  background: #ce2922;
  margin: 0 30px 0 0;
  padding: 2px 10px 3px 15px;
  font-weight: 200;
  border-radius: 0 3px 3px 0;
  color: white;
  line-height: 30px;
}
/* line 49, ../sass/components/_post_meta.scss */
.tags-container ul.tags li a:hover {
  background: #b8251e;
  text-decoration: none;
}
/* line 52, ../sass/components/_post_meta.scss */
.tags-container ul.tags li a:hover:before {
  border-right: 10px solid #b8251e;
}
/* line 56, ../sass/components/_post_meta.scss */
.tags-container ul.tags li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 10px solid #ce2922;
}
/* line 67, ../sass/components/_post_meta.scss */
.tags-container ul.tags li a:after {
  content: "";
  background: white;
  height: 6px;
  width: 6px;
  border-radius: 10px;
  position: absolute;
  left: 0;
  top: 9px;
}

/***********  STYLE STICKY POSTS  ***********/
/* line 1, ../sass/components/_topbar_brand.scss */
.page-head {
  margin-top: 30px;
  margin-bottom: 30px;
}
/* line 4, ../sass/components/_topbar_brand.scss */
.page-head .top-logo {
  font-size: 50px;
  color: #fff;
}
/* line 7, ../sass/components/_topbar_brand.scss */
.page-head .top-logo:hover {
  text-decoration: none;
}

/* line 14, ../sass/components/_topbar_brand.scss */
.bg-page-head {
  background: #ce2922;
  padding: 30px 0;
  padding-top: 90px;
  margin-bottom: 30px;
}

/* line 1, ../sass/components/_slider.scss */
.owl-carousel {
  margin: -30px 0 0 0;
  padding: 0;
}
/* line 4, ../sass/components/_slider.scss */
.owl-carousel .image-container {
  background-image: url(../test-image-01.jpg) no-repeat center center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 480px;
  color: #fff;
}

/* line 14, ../sass/components/_slider.scss */
#page-wrapper .owl-carousel.container {
  padding: 0;
}

/* line 18, ../sass/components/_slider.scss */
.slider-caption {
  position: absolute;
  bottom: 0;
  padding-bottom: 15px;
  background: rgba(51, 51, 51, 0.8);
  width: 100%;
}

/* line 4, ../sass/components/_pagination.scss */
.pagination > li > a, .pagination > li > span {
  border-radius: 0;
}
/* line 9, ../sass/components/_pagination.scss */
.pagination .current, .pagination .current:hover, .pagination .current:focus {
  z-index: 2;
  color: white;
  background-color: #8c1c17;
  border-color: transparent;
  cursor: default;
}

/* line 6, ../sass/components/_social_widget.scss */
.btn-twitter {
  color: white;
  background-color: #55acee;
  border-color: #55acee;
}
/* line 448, /Users/Rasmus/Desktop/toro/wp-content/themes/toro/bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.btn-twitter:hover, .btn-twitter:focus, .btn-twitter:active, .btn-twitter.active {
  color: white;
  background-color: #309aea;
  border-color: #1d91e8;
}
/* line 456, /Users/Rasmus/Desktop/toro/wp-content/themes/toro/bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.open .btn-twitter.dropdown-toggle {
  color: white;
  background-color: #309aea;
  border-color: #1d91e8;
}
/* line 461, /Users/Rasmus/Desktop/toro/wp-content/themes/toro/bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.btn-twitter:active, .btn-twitter.active {
  background-image: none;
}
/* line 465, /Users/Rasmus/Desktop/toro/wp-content/themes/toro/bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.open .btn-twitter.dropdown-toggle {
  background-image: none;
}
/* line 471, /Users/Rasmus/Desktop/toro/wp-content/themes/toro/bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.btn-twitter.disabled, .btn-twitter.disabled:hover, .btn-twitter.disabled:focus, .btn-twitter.disabled:active, .btn-twitter.disabled.active, .btn-twitter[disabled], .btn-twitter[disabled]:hover, .btn-twitter[disabled]:focus, .btn-twitter[disabled]:active, .btn-twitter[disabled].active, fieldset[disabled] .btn-twitter, fieldset[disabled] .btn-twitter:hover, fieldset[disabled] .btn-twitter:focus, fieldset[disabled] .btn-twitter:active, fieldset[disabled] .btn-twitter.active {
  background-color: #55acee;
  border-color: #55acee;
}
/* line 481, /Users/Rasmus/Desktop/toro/wp-content/themes/toro/bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.btn-twitter .badge {
  color: #55acee;
  background-color: #fff;
}

/* line 10, ../sass/components/_social_widget.scss */
.btn-facebook {
  color: white;
  background-color: #3b5998;
  border-color: #3b5998;
}
/* line 448, /Users/Rasmus/Desktop/toro/wp-content/themes/toro/bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active, .btn-facebook.active {
  color: white;
  background-color: #30487b;
  border-color: #2a3f6c;
}
/* line 456, /Users/Rasmus/Desktop/toro/wp-content/themes/toro/bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.open .btn-facebook.dropdown-toggle {
  color: white;
  background-color: #30487b;
  border-color: #2a3f6c;
}
/* line 461, /Users/Rasmus/Desktop/toro/wp-content/themes/toro/bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.btn-facebook:active, .btn-facebook.active {
  background-image: none;
}
/* line 465, /Users/Rasmus/Desktop/toro/wp-content/themes/toro/bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.open .btn-facebook.dropdown-toggle {
  background-image: none;
}
/* line 471, /Users/Rasmus/Desktop/toro/wp-content/themes/toro/bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.btn-facebook.disabled, .btn-facebook.disabled:hover, .btn-facebook.disabled:focus, .btn-facebook.disabled:active, .btn-facebook.disabled.active, .btn-facebook[disabled], .btn-facebook[disabled]:hover, .btn-facebook[disabled]:focus, .btn-facebook[disabled]:active, .btn-facebook[disabled].active, fieldset[disabled] .btn-facebook, fieldset[disabled] .btn-facebook:hover, fieldset[disabled] .btn-facebook:focus, fieldset[disabled] .btn-facebook:active, fieldset[disabled] .btn-facebook.active {
  background-color: #3b5998;
  border-color: #3b5998;
}
/* line 481, /Users/Rasmus/Desktop/toro/wp-content/themes/toro/bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.btn-facebook .badge {
  color: #3b5998;
  background-color: #fff;
}

/* line 14, ../sass/components/_social_widget.scss */
.btn-google-plus {
  color: white;
  background-color: #df4a32;
  border-color: #df4a32;
}
/* line 448, /Users/Rasmus/Desktop/toro/wp-content/themes/toro/bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.btn-google-plus:hover, .btn-google-plus:focus, .btn-google-plus:active, .btn-google-plus.active {
  color: white;
  background-color: #c9371f;
  border-color: #b7321d;
}
/* line 456, /Users/Rasmus/Desktop/toro/wp-content/themes/toro/bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.open .btn-google-plus.dropdown-toggle {
  color: white;
  background-color: #c9371f;
  border-color: #b7321d;
}
/* line 461, /Users/Rasmus/Desktop/toro/wp-content/themes/toro/bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.btn-google-plus:active, .btn-google-plus.active {
  background-image: none;
}
/* line 465, /Users/Rasmus/Desktop/toro/wp-content/themes/toro/bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.open .btn-google-plus.dropdown-toggle {
  background-image: none;
}
/* line 471, /Users/Rasmus/Desktop/toro/wp-content/themes/toro/bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.btn-google-plus.disabled, .btn-google-plus.disabled:hover, .btn-google-plus.disabled:focus, .btn-google-plus.disabled:active, .btn-google-plus.disabled.active, .btn-google-plus[disabled], .btn-google-plus[disabled]:hover, .btn-google-plus[disabled]:focus, .btn-google-plus[disabled]:active, .btn-google-plus[disabled].active, fieldset[disabled] .btn-google-plus, fieldset[disabled] .btn-google-plus:hover, fieldset[disabled] .btn-google-plus:focus, fieldset[disabled] .btn-google-plus:active, fieldset[disabled] .btn-google-plus.active {
  background-color: #df4a32;
  border-color: #df4a32;
}
/* line 481, /Users/Rasmus/Desktop/toro/wp-content/themes/toro/bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.btn-google-plus .badge {
  color: #df4a32;
  background-color: #fff;
}

/***********  LAYOUT  ***********/
/* line 1, ../sass/layout/_breadcrumbs.scss */
#crumbs {
  background: #eeeeee;
  padding: 0 0;
}
/* line 5, ../sass/layout/_breadcrumbs.scss */
#crumbs .breadcrumb {
  padding: 30px 15px;
  margin-bottom: 0;
  list-style: none;
  background-color: #eeeeee;
  border-radius: 4px;
}

/* line 1, ../sass/layout/_comments.scss */
.comment-background {
  background: #eeeeee;
  padding: 90px 0;
}

/* line 6, ../sass/layout/_comments.scss */
.comments > h2 {
  margin-bottom: 30px;
}
/* line 9, ../sass/layout/_comments.scss */
.comments ul {
  margin: 0;
  padding: 0;
  color: #888;
}
/* line 14, ../sass/layout/_comments.scss */
.comments li.comment {
  list-style: none;
  position: relative;
}
/* line 18, ../sass/layout/_comments.scss */
.comments .avatar {
  position: absolute;
  left: -120px;
  border: 5px solid white;
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.2);
}
/* line 26, ../sass/layout/_comments.scss */
.comments .comment-body {
  margin-bottom: 15px;
  border: 0;
  border-radius: 10px;
}
/* line 33, ../sass/layout/_comments.scss */
.comments .comment-body:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #fff;
  position: absolute;
  left: -9px;
  top: 40px;
}
/* line 44, ../sass/layout/_comments.scss */
.comments .comment-body .comment-author {
  border: 0;
  background: #fff;
  border-radius: 10px 10px 0 0;
  padding-bottom: 2px;
}
/* line 51, ../sass/layout/_comments.scss */
.comments .comment-body .comment-author a {
  font-size: 18px;
  font-weight: 700;
}
/* line 56, ../sass/layout/_comments.scss */
.comments .comment-body .comment-awaiting-moderation, .comments .comment-body .comment-content {
  padding-top: 0;
}
/* line 60, ../sass/layout/_comments.scss */
.comments .comment-body .reply {
  border: 0;
  background: #fff;
  border-radius: 0 0 10px 10px;
}
/* line 67, ../sass/layout/_comments.scss */
.comments .comment-body .commentmetadata {
  margin-bottom: 15px;
}
/* line 69, ../sass/layout/_comments.scss */
.comments .comment-body .commentmetadata a, .comments .comment-body .commentmetadata .comment-edit-link {
  color: #ccc;
  font-weight: 200;
  font-size: 13px;
}

/* line 80, ../sass/layout/_comments.scss */
#respond h3#reply-title {
  margin-bottom: 30px;
  font-size: 3.05176rem;
}
/* line 84, ../sass/layout/_comments.scss */
#respond .comment-notes {
  display: none;
}

/* line 5, ../sass/layout/_footer.scss */
footer.page-footer {
  background: #222222;
  padding: 30px 0;
  color: white;
}
/* line 8, ../sass/layout/_footer.scss */
footer.page-footer p {
  margin: 0;
}

/***********  PAGINATION PLACEMENT  ***********/
/* line 2, ../sass/layout/_pagination.scss */
div.pagination {
  display: block;
  padding-left: 0;
  margin: 0;
  border-radius: 0;
  text-align: center;
}

/* line 32, ../sass/layout/_custom_topbar.scss */
.navbar-custom {
  background-color: #ce2922;
  border-color: #b2231d;
}
/* line 36, ../sass/layout/_custom_topbar.scss */
.navbar-custom .navbar-brand {
  color: white;
}
/* line 38, ../sass/layout/_custom_topbar.scss */
.navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus {
  color: #e6e6e6;
  background-color: transparent;
}
/* line 45, ../sass/layout/_custom_topbar.scss */
.navbar-custom .navbar-text {
  color: #777777;
}
/* line 50, ../sass/layout/_custom_topbar.scss */
.navbar-custom .navbar-nav > li > a {
  color: white;
}
/* line 53, ../sass/layout/_custom_topbar.scss */
.navbar-custom .navbar-nav > li > a:hover, .navbar-custom .navbar-nav > li > a:focus {
  color: #eeeeee;
  background-color: transparent;
}
/* line 60, ../sass/layout/_custom_topbar.scss */
.navbar-custom .navbar-nav > .active > a, .navbar-custom .navbar-nav > .active > a:hover, .navbar-custom .navbar-nav > .active > a:focus {
  color: #eeeeee;
  background-color: #c0261f;
}
/* line 68, ../sass/layout/_custom_topbar.scss */
.navbar-custom .navbar-nav > .disabled > a, .navbar-custom .navbar-nav > .disabled > a:hover, .navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
/* line 77, ../sass/layout/_custom_topbar.scss */
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
/* line 79, ../sass/layout/_custom_topbar.scss */
.navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
/* line 83, ../sass/layout/_custom_topbar.scss */
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #888888;
}
/* line 88, ../sass/layout/_custom_topbar.scss */
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #b2231d;
}
/* line 97, ../sass/layout/_custom_topbar.scss */
.navbar-custom .navbar-nav > .open > a, .navbar-custom .navbar-nav > .open > a:hover, .navbar-custom .navbar-nav > .open > a:focus {
  background-color: #c0261f;
  color: #eeeeee;
}
@media (max-width: 767px) {
  /* line 108, ../sass/layout/_custom_topbar.scss */
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: white;
  }
  /* line 110, ../sass/layout/_custom_topbar.scss */
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #eeeeee;
    background-color: transparent;
  }
  /* line 117, ../sass/layout/_custom_topbar.scss */
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a, .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #eeeeee;
    background-color: #c0261f;
  }
  /* line 125, ../sass/layout/_custom_topbar.scss */
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
/* line 141, ../sass/layout/_custom_topbar.scss */
.navbar-custom .navbar-link {
  color: white;
}
/* line 143, ../sass/layout/_custom_topbar.scss */
.navbar-custom .navbar-link:hover {
  color: #eeeeee;
}
/* line 148, ../sass/layout/_custom_topbar.scss */
.navbar-custom .btn-link {
  color: white;
}
/* line 150, ../sass/layout/_custom_topbar.scss */
.navbar-custom .btn-link:hover, .navbar-custom .btn-link:focus {
  color: #eeeeee;
}
/* line 156, ../sass/layout/_custom_topbar.scss */
.navbar-custom .btn-link[disabled]:hover, .navbar-custom .btn-link[disabled]:focus, fieldset[disabled] .navbar-custom .btn-link:hover, fieldset[disabled] .navbar-custom .btn-link:focus {
  color: #cccccc;
}

/*==========================================
=            Transparent Topbar            =
==========================================*/
/* line 29, ../sass/layout/_transparent-topbar.scss */
.navbar-transparent {
  background-color: none;
  border-color: none;
  margin-bottom: -50px;
}
/* line 33, ../sass/layout/_transparent-topbar.scss */
.navbar-transparent .navbar-brand {
  color: white;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}
/* line 36, ../sass/layout/_transparent-topbar.scss */
.navbar-transparent .navbar-brand:hover, .navbar-transparent .navbar-brand:focus {
  color: #999999;
  background-color: transparent;
}
/* line 42, ../sass/layout/_transparent-topbar.scss */
.navbar-transparent.navbar-static-top {
  border-width: 0;
}
@media (max-width: 767px) {
  /* line 42, ../sass/layout/_transparent-topbar.scss */
  .navbar-transparent.navbar-static-top {
    border-width: 0;
  }
  /* line 46, ../sass/layout/_transparent-topbar.scss */
  .navbar-transparent.navbar-static-top .navbar-collapse {
    background: #222222;
  }
  /* line 49, ../sass/layout/_transparent-topbar.scss */
  .navbar-transparent.navbar-static-top .navbar-header {
    background: #333333;
  }
}
/* line 54, ../sass/layout/_transparent-topbar.scss */
.navbar-transparent .navbar-text {
  color: #999999;
}
/* line 58, ../sass/layout/_transparent-topbar.scss */
.navbar-transparent .navbar-nav > li > a {
  color: white;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}
/* line 61, ../sass/layout/_transparent-topbar.scss */
.navbar-transparent .navbar-nav > li > a:hover, .navbar-transparent .navbar-nav > li > a:focus {
  color: #999999;
  background-color: transparent;
}
/* line 68, ../sass/layout/_transparent-topbar.scss */
.navbar-transparent .navbar-nav > .active > a, .navbar-transparent .navbar-nav > .active > a:hover, .navbar-transparent .navbar-nav > .active > a:focus {
  color: #999999;
  background-color: none;
}
/* line 76, ../sass/layout/_transparent-topbar.scss */
.navbar-transparent .navbar-nav > .disabled > a, .navbar-transparent .navbar-nav > .disabled > a:hover, .navbar-transparent .navbar-nav > .disabled > a:focus {
  color: #444444;
  background-color: transparent;
}
/* line 85, ../sass/layout/_transparent-topbar.scss */
.navbar-transparent .navbar-toggle {
  border-color: none;
}
/* line 87, ../sass/layout/_transparent-topbar.scss */
.navbar-transparent .navbar-toggle:hover, .navbar-transparent .navbar-toggle:focus {
  background-color: #333333;
}
/* line 91, ../sass/layout/_transparent-topbar.scss */
.navbar-transparent .navbar-toggle .icon-bar {
  background-color: white;
}
/* line 95, ../sass/layout/_transparent-topbar.scss */
.navbar-transparent .navbar-collapse,
.navbar-transparent .navbar-form {
  border: none;
  box-shadow: none;
}
/* line 103, ../sass/layout/_transparent-topbar.scss */
.navbar-transparent .navbar-nav > .open > a, .navbar-transparent .navbar-nav > .open > a:hover, .navbar-transparent .navbar-nav > .open > a:focus {
  background-color: none;
  color: #999999;
}
@media (max-width: 767px) {
  /* line 113, ../sass/layout/_transparent-topbar.scss */
  .navbar-transparent .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: none;
  }
  /* line 116, ../sass/layout/_transparent-topbar.scss */
  .navbar-transparent .navbar-nav .open .dropdown-menu .divider {
    background-color: none;
  }
  /* line 119, ../sass/layout/_transparent-topbar.scss */
  .navbar-transparent .navbar-nav .open .dropdown-menu > li > a {
    color: white;
  }
  /* line 121, ../sass/layout/_transparent-topbar.scss */
  .navbar-transparent .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-transparent .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #999999;
    background-color: transparent;
  }
  /* line 128, ../sass/layout/_transparent-topbar.scss */
  .navbar-transparent .navbar-nav .open .dropdown-menu > .active > a, .navbar-transparent .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-transparent .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #999999;
    background-color: none;
  }
  /* line 136, ../sass/layout/_transparent-topbar.scss */
  .navbar-transparent .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-transparent .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-transparent .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444444;
    background-color: transparent;
  }
}
/* line 146, ../sass/layout/_transparent-topbar.scss */
.navbar-transparent .navbar-link {
  color: white;
}
/* line 148, ../sass/layout/_transparent-topbar.scss */
.navbar-transparent .navbar-link:hover {
  color: #999999;
}
/* line 152, ../sass/layout/_transparent-topbar.scss */
.navbar-transparent .navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-radius: 4px;
}
@media (min-width: 767px) {
  /* line 158, ../sass/layout/_transparent-topbar.scss */
  .navbar-transparent .dropdown-menu:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid white;
    position: absolute;
    top: -7px;
    right: 32px;
  }
}

/*-----  End of Transparent Topbar  ------*/
/***********  PAGES  ***********/
/* line 1, ../sass/pages/_frontpage.scss */
.hero-unit {
  background: #ce2922;
  padding: 90px 0;
}
/* line 3, ../sass/pages/_frontpage.scss */
.hero-unit .lead {
  text-align: center;
  color: #fff;
}

/* line 1, ../sass/pages/page_builder/_layout-1.scss */
.layout-1 {
  background: #eeeeee;
  padding: 90px 0;
}
/* line 3, ../sass/pages/page_builder/_layout-1.scss */
.layout-1 img {
  max-width: 100px;
  margin-bottom: 50px;
}
/* line 7, ../sass/pages/page_builder/_layout-1.scss */
.layout-1 h2 {
  margin-bottom: 70px;
}

/* line 1, ../sass/pages/page_builder/_layout-2.scss */
.layout-2 {
  background: #eeeeee;
  padding: 90px 0;
}
/* line 3, ../sass/pages/page_builder/_layout-2.scss */
.layout-2 img {
  max-width: 150px;
  display: block;
  margin: 0 auto 50px;
}
/* line 8, ../sass/pages/page_builder/_layout-2.scss */
.layout-2 h2 {
  text-align: center;
}
/* line 11, ../sass/pages/page_builder/_layout-2.scss */
.layout-2 h4 {
  margin-bottom: 70px;
  text-align: center;
}