/***********  GENERAL HELPER CLASSES  ***********/

.no-radius {
  border-radius: 0 !important;
}

.no-border {
  border-width: 0 !important;
}

.no-margin {
  margin: 0!important;
}

.no-padding {
  padding: 0!important;
}

/***********  TOPBAR VISIBILITY ON SMALL SCREENS  ***********/

// make things visible only on mobile menu
.visible-with-collapsed-topbar {
  @media (min-width: $grid-float-breakpoint-max) {
    display: none !important;
  }
}

// make things visible only on desktop menu
.visible-with-uncollapsed-topbar {
  @media (max-width: $grid-float-breakpoint-max) {
    display: none !important;
  }
}

/***********  FIXES TO TINYMCE  ***********/

// Make tabeles work in TinyMCE
.mce-item-table {
  @extend .table;
}

// Add padding to Tiny MCE editor window
body#tinymce {
  margin: 10px;
}

/***********  EXTENDED COLOR VARIABLES  ***********/

$dark-modifier: 20%;
$darker-modifier: 40%;
$light-modifier: 20%;
$lighter-modifier: 40%;

$brand-primary-dark: shade($brand-primary, $dark-modifier);
$brand-primary-darker: shade($brand-primary, $darker-modifier);
$brand-primary-light: tint($brand-primary, $light-modifier);
$brand-primary-lighter: tint($brand-primary, $lighter-modifier);

$brand-info-dark: shade($brand-info, $dark-modifier);
$brand-info-darker: shade($brand-info, $darker-modifier);
$brand-info-light: tint($brand-info, $light-modifier);
$brand-info-lighter: tint($brand-info, $lighter-modifier);

$brand-success-dark: shade($brand-success, $dark-modifier);
$brand-success-darker: shade($brand-success, $darker-modifier);
$brand-success-light: tint($brand-success, $light-modifier);
$brand-success-lighter: tint($brand-success, $lighter-modifier);

$brand-warning-dark: shade($brand-warning, $dark-modifier);
$brand-warning-darker: shade($brand-warning, $darker-modifier);
$brand-warning-light: tint($brand-warning, $light-modifier);
$brand-warning-lighter: tint($brand-warning, $lighter-modifier);

$brand-danger-dark: shade($brand-danger, $dark-modifier);
$brand-danger-darker: shade($brand-danger, $darker-modifier);
$brand-danger-light: tint($brand-danger, $light-modifier);
$brand-danger-lighter: tint($brand-danger, $lighter-modifier);
