// Section Wrapper

@mixin section-wrapper($background-color, $padding) {
  background: $background-color;
  padding: $padding 0;
}

// Vertical centering
@mixin v-center {
  &.v-center,
  .v-center {
    display: table;
    width: 100%;
    > div {
      display: table-cell;
      vertical-align: middle;
      margin-top: 0;
      margin-bottom: 0;
      float: none;
    }
    @media (min-width: 768px) {
      &.row {
        &:before,
        &:after {
          display: none;
        }
      }
    }
    @media (max-width: 767px) {
      padding-left: 20px;
      padding-right: 20px;
      &.row {
        display: block;
        width: auto;
        &:before,
        &:after {
          display: none;
        }
        > * {
          display: block;
          vertical-align: baseline;
        }
      }
    }
  }
}

// MAKE WORDPRESS GALLERY USE BLOCK GRID
@for $i from 1 through 9 {
 .gallery-columns-#{$i} {
   @extend .block-grid-lg-#{$i};
   .gallery-item {
     @extend .block-grid-item;
   }
 }
}

// END BLOCK GRID
