.single-product {

  .images {
    @extend .col-sm-4;
  }
  .single_thumbnail .attachment-shop_thumbnail {
    width: (100%)/3;
  }
  .summary.entry-summary {
    @extend .col-sm-8;
  }
}

.onsale {
  display: block;
  position: absolute;
  font-size: 14px;
  background: orange;
  color: white;
  padding: 13px 7px;
  border-radius: 50%;
  left: -5px;
  top: -15px;
  z-index: 1;
}

.bg-single-top > .container > .row {
  position: relative;
}

.quantity {
  @extend .form-group;
  .input-text {
    @extend .form-control;
  }
}

.single_add_to_cart_button {
  @extend .btn;
  @extend .btn-default;
}

.related.products {
  @extend .col-sm-12;
  ul.products {
    @extend .row;
    li.product {
      @extend .col-lg-3;
      @extend .col-md-3;
      @extend .col-sm-4;
      @extend .col-xs-6;
    }
  }
}

.quantity {
  input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  position: relative;
  input[type="button"] {
    @extend .btn;
    @extend .btn-primary;
    &.plus {
      position: absolute;
      right: 0;
      height: 18px;
      padding: 0;
      line-height: 1;
      border-radius: 0 4px 0 0;
      width: 20px;
      top: 0;
    }
    &.minus {
      position: absolute;
      right: 0;
      height: 17px;
      padding: 0;
      line-height: 1;
      border-radius: 0 0 4px 0;
      width: 20px;
      top: 18px;
      z-index: 1000
    }
  }
}
