.shop_table.cart {
  @extend .table;
  @extend .table-striped;
  .quantity  {
    @extend .form-group;
    input {
      @extend .form-control;
      max-width: 80px;
      position: absolute;
      right: 0;
    }
  }
  .attachment-shop_thumbnail {
    @extend .thumbnail;
    margin: 0;
  }
}

.button {
  @extend .btn;
  @extend .btn-default;
}

.checkout-button {
  @extend .btn;
  @extend .btn-success;
}

.shop_table.cart .actions {
  padding: 8px 0;
}

.coupon {
  @extend .input-group;
  .button {
    
  }
  .input-text {
    @extend .form-control;
  }
}

.button-container {
  text-align: right;
}


.cart_totals {
  table {
    @extend .table;
    @extend .table-striped;
  }
}

.shipping_calculator {
  @extend .pull-right;
  .shipping-calculator-form {
    margin-bottom: $grid-gutter-width;
  }
}

.shipping-calculator-form {
  display: none;
}