// PRODUCT LOOP

 @import "wc_product_loop";
 @import "wc_pagination";
 @import "wc_product";

// SINGLE PRODUCT

  @import "wc_single_product";
  @import "wc_related_product";


// MESSAGES
  @import "wc_messages";

// CART
  @import "wc_cart";

// WIDGETS
  @import "wc_widgets";

// notices
  @import "wc_notices";

// checkout
  @import "wc_checkout";


.demo_store {
  position: fixed;
  top: 0;
  background: $brand-warning;
  display: block;
  width: 100%;
  text-align: center;
  color: #FFF;
  line-height: $grid-gutter-width;
  box-shadow: 0 0 3px 0 rgba(black, 0.3);
}
